<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Import the Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Import our custom stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 

  <title>Image Captioning</title>
</head>

<body>

  <div class="topnav">
    <a class="/" href="/">Home</a>
    <a href="/upload-image">Upload</a>
    <a href="/results">Results</a>
  </div>

  <main>
    {% block main %}{% endblock %}
  </main>

  

</body>

</html>